  // -------------DONAT MODAL--------------//
.donateLink {
    display: block;
    text-decoration: none;
    background: #ffdf00;
    width: 90px;
    height: 50px;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    position: fixed;
    opacity: 0.8;
    right: -40px;
    top: 195px;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
    z-index: 8;
    transition: all .5s;
    animation: donate 2s infinite ease;
    &:hover {
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
        opacity: 1;
        transition: all .5s;
    }
}
.donatModal {
    &__title{
        @media screen and (max-width: 425px) {
            font-size: 15px;
        }
    }
    &__subtitle {
        @media screen and (max-width: 425px) {
            font-size: 13px;
        }
    }
    &__payment {
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @media screen and (max-width: 425px) {
            height: 35%;
        }
    }
    &__link img{
        max-width: 80%;

    }
}
#donatModal {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 50%; 
    max-height: 50%;
    padding: 20px 20px;
    border-radius: 4px;
    background: #fafafa;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    display: none;
    opacity: 0;
    z-index: 38;
    text-align: center;
    @media screen and (max-width: 768px) {
        max-width: 65%;
        max-height: 65%;
    }
    @media screen and (max-width: 425px) {
        max-width: 75%;
        max-height: 50%;

    }
}
#donatModal #donatModal__close {
    width: 21px; height: 21px;
    position: absolute;
    font-size: 29px;
    top: 1px; right: 11px;
    cursor: pointer;
    display: block;
}
#Overlay {
    z-index: 37;
    position: fixed;
    background: rgba(0,0,0,.7);
    width: 100%; height: 100%;
    top: 0; left: 0;
    cursor: pointer;
    display: none;
}
 // -------------HEADER-SLIDER--------------//
.hero {
    .container{
        @media screen and (max-width: 800px) {
            padding: 0;
        }
    }

}

.header-slider {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -1;
    &__item {
        height: 100vh;
        // @media screen and (max-width: 425px)  {
        //     height: 80vh;
        // }
    }
    &__inner{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-repeat: no-repeat;
        background-position: top right;
        background-size: contain;
        padding-top: 50px;
        @media screen and (max-width: 1200px) {
            background-position: top 40px right;
        }
        @media screen and (max-width: 770px) {
            background-size:  auto 100%;
            background-position: top 50px center;
        }
        // @media screen and (max-width: 525px) {
        //     background-size:  cover;
        //     background-position: top 50px center;
        // }
        @media screen and (max-width: 425px) {
            background-size: cover;
            background-attachment: local;
            
        }
    }
}   
.header-slider .slick-arrow {
    display: none;
}
.header-slider .slick-dots {
    display: flex;
    margin-top: -95px;
    outline: none;
    @media screen and (max-width: 1024px) {
        margin-top: -30px;
        justify-content: center;
    
    }
    & li{
        list-style: none;
        margin: 0 10px;
        z-index: 6;
        &:focus,
        &:active {
            outline: none;
            }
        &.slick-active button{
            background: $secondaryCol;
            transition: all .3s;
            outline: none;
        }
    }
    & button {
        width: 18px;
        height: 18px;
        background: transparent;
        border: 2px $primaryCol solid;
        border-radius: 50%;
        font-size: 0;
        padding: 0;
        margin-bottom: 40px;
        cursor: pointer;
        @media screen and (max-width: 1024px) {
            width: 11px;
            height: 11px;
        }
    }
    
}
.header-heading {
    max-width: 30%;
    color: $primaryCol;
    text-align: left;
    z-index: 3;
    @media screen and (max-width: 800px) {
        display: none;
}
    &__title {
        @include title(left);
        margin: 0;
        line-height: 60px;
    }
    &__description{
        font-size: 17px;
        line-height: 25px;
        @media (max-width: 767px) {
            font-size: 14px;
            // margin: 90px 0px 0px 0px;
        }
        @media screen and (max-width: 424px) {
            font-size: 12px;
            // margin: 50px 0px 0px 0px;
        }
    }
}