
.help {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .help__video {
    margin: 50px auto 30px;
  }
  .help__description {
    line-height: 35px;
  }
  
  .donateLink {
    display: block;
    text-decoration: none;
    background: #ffdf00;
    width: 90px;
    height: 50px;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: left top 0;
        -ms-transform-origin: left top 0;
            transform-origin: left top 0;
    position: fixed;
    opacity: 0.8;
    right: -40px;
    top: 195px;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
    z-index: 8;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-animation: donate 2s infinite ease;
            animation: donate 2s infinite ease;
  }
  
  .donateLink:hover {
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
    opacity: 1;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }
  
  .donatModal__payment {
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  
  .donatModal__link img {
    max-width: 80%;
  }
  
  #donatModal {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 50%;
    max-height: 50%;
    padding: 20px 20px;
    border-radius: 4px;
    background: #fafafa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    opacity: 0;
    z-index: 38;
    text-align: center;
  }
  
  #donatModal #donatModal__close {
    width: 21px;
    height: 21px;
    position: absolute;
    font-size: 29px;
    top: 1px;
    right: 11px;
    cursor: pointer;
    display: block;
  }
  
  #Overlay {
    z-index: 37;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
  }