@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
        }
}
@import "normalize", 
        "fonts", 
        "vars_mixins", 
        "header",
        "header-slider",
        "lost";


body {
    font-family: $mainFont;
    color: $primaryCol;
    scroll-behavior: smooth;
    &.lock {
    @media (max-width: 767px)  {
        overflow: hidden;
        }
    } 
}
.container {
    max-width: 1400px;
    min-width: 0;
    min-height: 0;
    margin: auto;
    padding: 0 70px;
    @media (max-width: 1024px) {
        padding: 0 70px;
    }
    @media (max-width: 768px) {
        padding: 0 40px;
    }
    @media screen and (max-width: 425px) {
        padding: 0 10px;
    }
}