$primaryCol: #232323;
$secondaryCol: #2ea260;
$menuCol: #fff;
$cardCol: #fff;
$mainFont: "Roboto-Regular";

@mixin btn($bg, $col, $paddTopBut, $paddLeftRight, $hoverCol) {
    font-family: "Roboto-Bold";
    font-weight: 700;
    font-size: 18px;
    background: $bg;
    padding: $paddTopBut $paddLeftRight;
    text-decoration: none;
    color: $col;
    display: inline-block;
    text-align: center;
    transition: all .5s;
    position: relative;
    top: 0;
    box-shadow: 0px 5px 0px #247e4b;
    &:hover {
        color: $hoverCol;
        top: 2px;
        box-shadow: 0px 4px 0px #a7a40b;
        transition: all .5s;
        background: #ffde00 url("../img/bgPaw.png") 20px 18px; 
        }

}
@mixin title ($textAl) {
    font-size: 40px;
    text-align: $textAl;
    font-family: $mainFont;
    font-weight: 400;
    color: $primaryCol;
}